h1{
    text-align: center;
}
.form-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap:1rem;
    height:75vh;
    width:75vw;
    border: none;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.5);
    margin: 0 auto;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
.username{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap:0.7rem;
}
button{
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 10%;
    border: none;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
input[type="text"]{
    width: 40vw;
    height: 5vh;
}    
textarea{
    height: 30vh;
    width: 40vw;
}
button:hover{
    cursor: pointer;
}
.post{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}
label{
    font-size: 1.2em;
    font-weight: bold;
}