body{
    background-color: rgb(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
h1{
    color: maroon;
    text-align: center;
}
.post{
    color: aliceblue;
    background-color: rgb(0,0,0,0.5);
    padding: 1rem;
    border: 1px solid aliceblue;
    width: 75vw;
}
.username{
    font-style: italic;
    font-size: 1.5em;
}
#delete:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: black;
}
#create{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    border: 1px solid aliceblue;
    padding: 10px 20px 10px 20px;
    border-radius: 10%;
    background-color: rgb(0,0,0,0.8);
}
.btn{
    margin-top: 1rem;
}
a{
    text-decoration: none;
color: aliceblue;
font-size: 1.3em;
border: 1px solid ;
padding: 0 10px 0 10px;
}
.links{
    display: flex;
    gap : 1rem;
}
button{
    border: 1px solid ;
padding: 0 10px 0 10px;
background-color: rgb(0,0,0,0.5);
color: aliceblue;
}